.section__title.features__title Мы лучшие
ul.features__list
    li.features__item
        .feature__image
            <svg class="feature__pic" style="fill: #e25028">
                <use xlink:href="#meat"></use>
            </svg>
        .feature__text
            .feature__title 100% свежее мясо
            .feature_content Драма представляет собой деструктивный цикл. Анапест преставляет собой анапест. Ямб неравномерен.
    li.features__item
        .feature__image
            <svg class="feature__pic" style="fill: #f8b43a">
                <use xlink:href="#hand"></use>
            </svg>
        .feature__text
            .feature__title Ручная сборка
            .feature_content Драма представляет собой деструктивный цикл. Анапест преставляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос
    li.features__item
        .feature__image
            <svg class="feature__pic" style="fill: #8ac03e">
                <use xlink:href="#natural"></use>
            </svg>
        .feature__text
            .feature__title Натуральные ингредиенты
            .feature_content Драма представляет собой деструктивный цикл. Анапест преставляет собой анапест.  
