footer.footer
  .container.footer__container
    .footer__info.footer__contacts
      .address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
      a(href="tel:+78123771377" class="phone") +7 (812) 377-13-77
    .footer__info.footer__socials
      ul.socials__list
        li.socials__item
          a(href="").socials__link.socials__vk
            <svg class="socials__icon" width="20px" height="20px" style="fill: #fff">
              <use xlink:href="#vk"></use>
            </svg>
        li.socials__item
          a(href="").socials__link.socials__fb
            <svg class="socials__icon" width="20px" height="20px" style="fill: #fff">
              <use xlink:href="#fb"></use>
            </svg>
        li.socials__item
          a(href="").socials__link.socials__insta
            <svg class="socials__icon" width="20px" height="20px" style="fill: #fff">
              <use xlink:href="#inst"></use>
            </svg>
        li.socials__item
          a(href="").socials__link.socials__twitter
            <svg class="socials__icon" width="20px" height="20px" style="fill: #fff">
              <use xlink:href="#twitter"></use>
            </svg>
