.hamburger-menu#hamburger-menu
    .hamburger-menu__logo
        a(href="#" class="logo")
            +image("logo.svg", "hamburger__logo")
    a(href="#" class="hamburger-menu__close")
        +image("close.png", "close_bars")
    .hamburger-menu__items
        nav.nav_hamburger
            ul.nav_list
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="1") о нас
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="2") бургеры
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="3") команда
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="4") меню
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="5") отзывы
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="6") как мы работаем
                li.nav_item
                    a(href="" class="nav_link" data-scroll-to="7") контакты

