header.header
  img(src="/assets/img/images/logo.svg" class="logo")
  nav.header__menu
    ul.menu__list
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="1") О нас
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="2") Бургеры
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="3") Команда
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="4") Меню
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="5") Отзывы
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="6") Как мы работаем
      li.menu__item
        a(href="#" class="menu__link" data-scroll-to="7") Контакты
  .header__links
    a(href="#" class="btn order_btn") Заказать
    a(href="#" class="hamburger-menu-link")
      .hamburger-menu-link__bars
