.hero__content
    .hero__burger
        //- <svg>
        //-     <use xlink:href="#meat"></use>
        //- </svg>
        +image("pages_images/front_burger.png", "hero_burger-pic")
    .hero__text
        .section__title.hero__title Мы делаем
        .hero__desc натуральные<br> бургеры
    a(href="#" class="scrolldown")
        <svg class="scrolldown_pic" width="30" height="30" style="fill: #fff;">
            <use xlink:href="#arrow-scroll"></use>
        </svg>