.review__overlay
    .review__overlay-message
        .review__overlay-user
        .review__overlay-text
        a(href="").review__overlay-close
            img(src="/assets/img/icons/close-orange.png", alt="")
ul.reviews__list
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic1.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее  
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic2.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic3.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic4.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic5.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic6.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic7.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее
    li.reviews__item
        .reviews__item-image
            +image("review_pics/pic8.png", "reviews__item-avatar")
        .reviews__item-hover
            .reviews__item-username Константин Спилберг
            article.review__item-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
            a(href="").btn.review_btn Подробнее


