a(href="" class="arrow arrow-left" id="left")
    <svg class="leftarrow" width="25" height="35" style="fill: #fff;">
        <use xlink:href="#arrow-scroll"></use>
    </svg>
.burgers__container
    ul.burgers__list#items
        li.burger__item.first
            .burger__item-image
                +image("burgers-slider/dark_burger.png", "burget__pic")
                a(href="" class="burger__contents")
                    <svg class="burger_slider-icon" width="44" height="46" style="fill: #fff;">
                        <use xlink:href="#burger"></use>
                    </svg>
                    <span>Состав</span>
                    ul.burger__contents-list.first#contents-list
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#beef"></use>
                            </svg>
                            .item__material Говядина
                            .item__weight 300 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#buns"></use>
                            </svg>
                            .item__material Булочки
                            .item__weight 100 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#salad"></use>
                            </svg>
                            .item__material Зелень
                            .item__weight 70 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#sauce"></use>
                            </svg>
                            .item__material Соус
                            .item__weight 150 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#cucumber"></use>
                            </svg>
                            .item__material Овощи
                            .item__weight 200 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#cheese"></use>
                            </svg>
                            .item__material Сыр
                            .item__weight 80 г
                .burger__calories
                    <svg class="burger_slider-cal" width="60" height="60" style="fill: #fff;">
                        <use xlink:href="#kkal"></use>
                    </svg>
                    <span class="calnumber">1200</span>
                    <span>ккал</span>
            .burger__item-content
                .section__title.burger__title Dark beef burger
                .burger__text Ваш старый добрый знакомый, с рубленным бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом грилль теперь с добавлением экзотического соуса чураско.
                .burger__price 500<span>рублей</span>
                    a(href="" class="btn order_btn order_btn_slider") Заказать
        li.burger__item.second
            .burger__item-image
                +image("burgers-slider/Cheeseburger.png", "burget__pic")
                a(href="" class="burger__contents ")
                    <svg class="burger_slider-icon" width="44" height="46" style="fill: #fff;">
                        <use xlink:href="#burger"></use>
                    </svg>
                    <span>Состав</span>
                    ul.burger__contents-list#contents-list
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#beef"></use>
                            </svg>
                            .item__material Говядина
                            .item__weight 300 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#buns"></use>
                            </svg>
                            .item__material Булочки
                            .item__weight 100 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#salad"></use>
                            </svg>
                            .item__material Зелень
                            .item__weight 70 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#sauce"></use>
                            </svg>
                            .item__material Соус
                            .item__weight 150 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#cucumber"></use>
                            </svg>
                            .item__material Овощи
                            .item__weight 200 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#cheese"></use>
                            </svg>
                            .item__material Сыр
                            .item__weight 80 г
                .burger__calories
                    <svg class="burger_slider-cal" width="60" height="60" style="fill: #fff;">
                        <use xlink:href="#kkal"></use>
                    </svg>
                    <span class="calnumber">1200</span>
                    <span>ккал</span>
            .burger__item-content
                .section__title.burger__title Dark beef burger
                .burger__text Ваш старый добрый знакомый, с рубленным бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом грилль теперь с добавлением экзотического соуса чураско.
                .burger__price 500<span>рублей</span>
                    a(href="" class="btn order_btn order_btn_slider") Заказать
        li.burger__item.third
            .burger__item-image
                +image("burgers-slider/burger_sandwich.png", "burget__pic")
                a(href="" class="burger__contents")
                    <svg class="burger_slider-icon" width="44" height="46" style="fill: #fff;">
                        <use xlink:href="#burger"></use>
                    </svg>
                    <span>Состав</span>
                    ul.burger__contents-list#contents-list
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#beef"></use>
                            </svg>
                            .item__material Говядина
                            .item__weight 300 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#buns"></use>
                            </svg>
                            .item__material Булочки
                            .item__weight 100 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#salad"></use>
                            </svg>
                            .item__material Зелень
                            .item__weight 70 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#sauce"></use>
                            </svg>
                            .item__material Соус
                            .item__weight 150 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#cucumber"></use>
                            </svg>
                            .item__material Овощи
                            .item__weight 200 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#cheese"></use>
                            </svg>
                            .item__material Сыр
                            .item__weight 80 г
                .burger__calories
                    <svg class="burger_slider-cal" width="60" height="60" style="fill: #fff;">
                        <use xlink:href="#kkal"></use>
                    </svg>
                    <span class="calnumber">1200</span>
                    <span>ккал</span>
            .burger__item-content
                .section__title.burger__title Dark beef burger
                .burger__text Ваш старый добрый знакомый, с рубленным бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом грилль теперь с добавлением экзотического соуса чураско.
                .burger__price 500<span>рублей</span>
                    a(href="" class="btn order_btn order_btn_slider") Заказать
        li.burger__item.fourth
            .burger__item-image
                +image("burgers-slider/shrinp_burger.png", "burget__pic")
                a(href="" class="burger__contents")
                    <svg class="burger_slider-icon" width="44" height="46" style="fill: #fff;">
                        <use xlink:href="#burger"></use>
                    </svg>
                    <span>Состав</span>
                    ul.burger__contents-list#contents-list
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#beef"></use>
                            </svg>
                            .item__material Говядина
                            .item__weight 300 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#buns"></use>
                            </svg>
                            .item__material Булочки
                            .item__weight 100 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#salad"></use>
                            </svg>
                            .item__material Зелень
                            .item__weight 70 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#sauce"></use>
                            </svg>
                            .item__material Соус
                            .item__weight 150 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#cucumber"></use>
                            </svg>
                            .item__material Овощи
                            .item__weight 200 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#cheese"></use>
                            </svg>
                            .item__material Сыр
                            .item__weight 80 г
                .burger__calories
                    <svg class="burger_slider-cal" width="60" height="60" style="fill: #fff;">
                        <use xlink:href="#kkal"></use>
                    </svg>
                    <span class="calnumber">1200</span>
                    <span>ккал</span>
            .burger__item-content
                .section__title.burger__title Dark beef burger
                .burger__text Ваш старый добрый знакомый, с рубленным бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом грилль теперь с добавлением экзотического соуса чураско.
                .burger__price 500<span>рублей</span>
                    a(href="" class="btn order_btn order_btn_slider") Заказать
        li.burger__item.fifth
            .burger__item-image
                +image("burgers-slider/chicken_burger.png", "burget__pic")
                a(href="" class="burger__contents")
                    <svg class="burger_slider-icon" width="44" height="46" style="fill: #fff;">
                        <use xlink:href="#burger"></use>
                    </svg>
                    <span>Состав</span>
                    ul.burger__contents-list#contents-list
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#beef"></use>
                            </svg>
                            .item__material Говядина
                            .item__weight 300 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#buns"></use>
                            </svg>
                            .item__material Булочки
                            .item__weight 100 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#salad"></use>
                            </svg>
                            .item__material Зелень
                            .item__weight 70 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: red;">
                                <use xlink:href="#sauce"></use>
                            </svg>
                            .item__material Соус
                            .item__weight 150 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: green;">
                                <use xlink:href="#cucumber"></use>
                            </svg>
                            .item__material Овощи
                            .item__weight 200 г
                        li.contents__item
                            <svg class="item-icon" width="45" height="45" style="fill: yellow;">
                                <use xlink:href="#cheese"></use>
                            </svg>
                            .item__material Сыр
                            .item__weight 80 г
                .burger__calories
                    <svg class="burger_slider-cal" width="60" height="60" style="fill: #fff;">
                        <use xlink:href="#kkal"></use>
                    </svg>
                    <span class="calnumber">1200</span>
                    <span>ккал</span>
            .burger__item-content
                .section__title.burger__title Dark beef burger
                .burger__text Ваш старый добрый знакомый, с рубленным бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом грилль теперь с добавлением экзотического соуса чураско.
                .burger__price 500<span>рублей</span>
                    a(href="" class="btn order_btn order_btn_slider") Заказать
a(href="" class="arrow arrow-right" id="right")
    <svg class="rightarrow" width="25" height="35" style="fill: #fff;">
        <use xlink:href="#arrow-scroll"></use>
    </svg>




