.team-members
    .section__title.team__title Команда
    ul.team__list
        li.team__item
            a(href="" class="team__name") Дэниэл Редклифф
            .team__content
                .team__avatar
                    +image("team_img/aphex.png", "team__avatar-img")
                .team__text
                    .team_position Шеф-повар
                    .team__desc С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item
            a(href="#" class="team__name") Ричард Джеймс
            .team__content
                .team__avatar
                    +image("team_img/aphex.png", "team__avatar-img")
                .team__text
                    .team_position Оператор
                    .team__desc С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item
            a(href="" class="team__name") Джейк Финн
            .team__content
                .team__avatar
                    +image("team_img/aphex.png", "team__avatar-img")
                .team__text
                    .team_position Менеджер
                    .team__desc С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.team__item
            a(href="" class="team__name") Николай Иванов
            .team__content
                .team__avatar
                    +image("team_img/aphex.png", "team__avatar-img")
                .team__text
                    .team_position Шоколатье
                    .team__desc С радостью поможет подобрать идеальный бургер и оформить заказ.