.section__title.wework__title Как мы работаем
.player__container
    .player__wrapper
        <iframe id="player" type="text/html" class="player__elem" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe>
    .player_controls
        